## Lession 1 Exercise1: Creating a Table with PostergreSQL

In [1]:
pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in c:\users\bharati\appdata\roaming\python\python310\site-packages (2.9.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## Import the library

In [2]:
import psycopg2

## create connection to the database

In [3]:
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=root") 
except psycopg2.Error as e:
    print("Error: Could not make connection to the postgres database")
    print(e)

## Use the connection to get a cursor that can be used to execute queries

In [4]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get cursor to the database")
    print(e)

## Set automatic commit to be true so that each action is commiteed without having to call conn.commit() after each command

In [5]:
conn.set_session(autocommit=True)

## Create database to do work in

In [6]:
try:
    cur.execute("create database myfirstdb")
except psycopg2.Error as e:
    print(e)

database "myfirstdb" already exists

## Add the database name in the connect statement. Lets close our connecction to the default database, reconnect to the myfirstdb database , and get a new cursor

In [7]:
try:
    conn.close()
except psycopg2.Error as e:
    print(e)
    
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=myfirstdb user=postgres password=root")
except psycopg2.Error as e:
    print("Error: Could not make connection to the postgres database")
    print(e)
    
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get the cursor to the database")
    print(e)
    
conn.set_session(autocommit=True)

##  Create Table for students which includes coloumn

student_id
name 
age
gender
subject
marks

In [8]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS students1 (student_id int, name varchar,\
    age int,gender varchar , subject varchar , marks int );")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
#     conn = psycopg2.connect("host=127.0.0.1 dbname=myfirstdb1 user=postgres password=root")
#     cur = conn.cursor()

## Insert the following two rows in the table 

First Row:   1,"Raj",23,"Male",85

second row:  2,"Priya",22,"Female",86

In [9]:
try:
    cur.execute("INSERT INTO students1 (student_id, name, age, gender, subject, marks) \
            VALUES (%s, %s, %s, %s, %s, %s)", \
            (1,"Raj",23,"Male","Python",85))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)
    
try:
    cur.execute("INSERT INTO students1 (student_id, name, age, gender, subject, marks) \
                VALUES (%s, %s, %s, %s, %s, %s)", \
                (2,"Priya",22,"Female","Python",86))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)

## Validate your data was inserted into the table

In [10]:
try: 
    cur.execute("SELECT * FROM students1;")
except psycopg2.Error as e:
    print("Error: select *")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Raj', 23, 'Male', 'Python', 85)
(2, 'Priya', 22, 'Female', 'Python', 86)

## And Finally close your cursor and connection

In [11]:
cur.close()
conn.close()